.ui-tabs { position: relative; padding: 0; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
    margin: 0; 
    padding: 0;
    
    font: bold 12px/14px arial;
    text-transform: uppercase;
	margin: 0 0 0px 0;    
    color: #393939;
    border-radius: 3px 3px 0 0;
    letter-spacing: normal;
    border-bottom: 1px solid #cfcfcf;
    
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7e7e7)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #fff, #e7e7e7); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #fff, #e7e7e7); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #fff, #e7e7e7); /* IE10 */
    background-image:      -o-linear-gradient(top, #fff, #e7e7e7); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #fff, #e7e7e7);
}
.ui-tabs .ui-tabs-nav li {
    list-style: none; 
    float: left; 
    position: relative; 
    top: 0; 
    margin: 0; 
    border-bottom: 0 !important; 
    padding: 0; 
    /*white-space: nowrap;*/
}
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0;
                /*padding: 1em 1.4em;*/
                background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }


div.k2ItemsBlock.tabs a.moduleItemImage{
	border:1px solid #666666;
	float:left;
	display:block;
	margin-right:20px;
    margin-top: 4px;
}
div.k2ItemsBlock.tabs .ui-tabs-nav {
	overflow:hidden;
	width:100%;
}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li {
	margin: 0px;
}
div.k2ItemsBlock.tabs .ui-tabs-nav li:first-child a {
    border-left: none;
}
div.k2ItemsBlock.tabs .ui-tabs-nav li.lastItem  {
    border-right:1px solid #f9f9f9;
}
div.k2ItemsBlock.tabs .ui-tabs-nav li a {

	font-weight:bold;
	background: none;
	background-position: left top;
	padding: 10px 9px 12px 10px;
	border-left:1px solid #f9f9f9;
	border-right:1px solid #cecece;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
	
div.k2ItemsBlock.tabs .ui-tabs-nav li a:hover,
div.k2ItemsBlock.tabs .ui-tabs-nav li.ui-state-active a {
	background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d9d9d9)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #f0f0f0, #d9d9d9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #f0f0f0, #d9d9d9); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #f0f0f0, #d9d9d9); /* IE10 */
    background-image:      -o-linear-gradient(top, #f0f0f0, #d9d9d9); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, #f0f0f0, #d9d9d9);
}

div.k2ItemsBlock.tabs .ui-tabs-panel{
	margin: 0; 
    padding: 13px 20px 9px;
    background: url(../images/template/catItemBody.gif) 0 0 repeat-x white;
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid #e7e7e7;
}
		
div.k2ItemsBlock.tabs div.moduleItemIntrotext {
    padding-bottom: 0px;
}